@model TrashCollector.Models.Customer

@{
    ViewBag.Title = "Pickups";
}

@using System.Web.UI.WebControls;
@{var listDayOfWeek = new List<ListItem>
{
new ListItem { Text = "Monday", Value= "Monday" },
new ListItem { Text = "Tuesday", Value= "Tuesday" },
new ListItem { Text = "Wednesday", Value= "Wednesday" },
new ListItem { Text = "Thursday", Value= "Thursday" },
new ListItem { Text = "Friday", Value= "Friday" },
new ListItem { Text = "Saturday", Value= "Saturday" },
new ListItem { Text = "Sunday", Value= "Sunday" }
};
}


<h2>Pickups</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Customer</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)


        @*<div class="form-group">
                @Html.LabelFor(model => model.WeeklyPickUp, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.WeeklyPickUp, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.WeeklyPickUp, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.Label("Day of week for Pick up", new { @class = "col-md-2 control-label" })
            <div class="col-md-1">
                @Html.DropDownListFor(model => model.WeeklyPickUp, new SelectList(listDayOfWeek, "Value", "Text"))
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SpecialPickUp, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SpecialPickUp, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SpecialPickUp, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartPickUp, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartPickUp, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartPickUp, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndPickUp, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndPickUp, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EndPickUp, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
